.searchJokes {
  display: flex;
  flex-direction: column;
  max-width: 626px;
  width: 100%;
}

.searchJokes input {
  width: calc(100% - 60px);
  border: none;
  box-shadow: 0px 7px 12px 0px rgba(100, 100, 111, 0.2);
  color: #656EC2;
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 19px 30px;
}

.searchJokes input::placeholder {
  color: #656EC2;
  font-family: Fira Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.searchJokes input:invalid {
  outline: 2px solid red;
}

.searchJokes span {
  margin: 20px 0 0 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #282626;
}