.joke {
  display: flex;
  box-shadow: 0px 7px 25px 0px #64646F33;
  width: calc(100% - 80px);
  cursor: pointer;
}

.meta {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #767676;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 25px 40px;
  justify-content: space-between;
  width: calc(100% - 80px);
}

.content {
  display: flex;
  width: 100%;
  overflow: hidden;
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.meta div {
  display: flex;
  width: 100%;
}

.meta div:last-child {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .meta {
    flex-direction: column;
  }

  .meta div:last-child {
    justify-content: flex-start;
  }
}