.listJokes {
  margin-top: 60px;
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1596px;
}

.listJokes div {
  display: flex;
  width: 100%;
}

.listJokes div:first-child {
  grid-column: span 3;
}

.listJokes div:nth-child(2) {
  grid-column: 4 / span 3;
}

.listJokes div:nth-child(n+3) {
  grid-column: span 2;
}

.loadMore {
  margin: 20px 0;
  font-size: 20px;
}

@media (max-width: 1400px) {
  .listJokes div:first-child {
    grid-column: span 3;
  }
  
  .listJokes div:nth-child(2) {
    grid-column: 4 / span 3;
  }
  
  .listJokes div:nth-child(n+3) {
    grid-column: span 3;
  }
}

@media (max-width: 1200px) {
  .listJokes div:first-child {
    grid-column: span 6;
  }
  
  .listJokes div:nth-child(2) {
    grid-column: span 6;
  }
  
  .listJokes div:nth-child(n+3) {
    grid-column: span 6;
  }
}